@charset "UTF-8";
/* CSS Document */

/*CSS for the Header Video*/
body {
  background: white;
  margin: 2rem;
}
header { 
  width: 100%;
  margin: 0 auto;
  position: relative;
  max-width: 1200px;
}
header video { width: 100%; }
svg { 
  width: 100%;
  position:absolute;
  top: 0;
  left: 0; /* needed for FF, Safari, Edge*/
  height: 100%;
}
svg text {
  font-family: 'Lato', sans-serif;
  font-weight: 1000;
  font-size: 14px;
}
svg rect {
  fill: white;
}
svg > rect {
  mask: url(#mask);
}

/*CSS for the Description summary*/
.container-fluid { 
	padding-top: 0px;
	font-family: 'Open Sans', sans-serif;
}

blockquote {
  font-size: 30px;/*change to 20px for mobile version; change 22px for 768&992px sizes*/
  color: #040d4f;
	font-weight: 700;
  text-align: center;
}

.summary {
	color: #091887;
	font-size: 20px; /*change to 15px for mobile version; change to 17px for 768&992 sizes*/
	font-weight: 100;
	margin-bottom: 10%;
  text-align: center;
  font-style: oblique;
}

/*CSS for Nav Bar*/
.portfolio-sorting
{
	text-transform: uppercase;
  font-family: 'Montserrat', 'sans-serif';
  text-align: center;	
	font-size: 18px; /*15px for 768px & 992px; 13px for mobile*/
  margin-bottom: 8%;
  background-color: white;
}

.portfolio-sorting li {
  padding-top: 2%;
}

.portfolio-sorting li a 
{
	color: #8F8F8D;
	text-decoration: none;
	font-weight: bold;
	padding-right: 2px;
}

.portfolio-sorting li a:hover,
.portfolio-sorting li a.active
{
	color: #040d4f;
	border-bottom: 2px solid #040d4f;
  font-family: 'Montserrat', 'sans-serif';
	font-weight: bold;
}

#navbar {
  height: 75px;
  left: 0px;
  margin-left: 0px;
}

#navbar a {
  -webkit-transition: .5s all ease-out;
  -moz-transition: .5s all ease-out;
  transition: .5s all ease-out;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

/*CSS for Content*/
.header1 {
	/*text-align: left;*/
  text-transform: uppercase;
  font-family: 'Montserrat', 'sans-serif';
  font-weight: bolder;
  color: #1055b4;
  padding-top: 150px; /*adjust for different screens*/
  font-size: 18px; /*15px for 768px & 992px; 13px for mobile*/
}

.sub-content {
  margin-top: 5%;
  margin-bottom: 0;
  font-family: 'Montserrat', 'sans-serif';
  color: #0d3265;
  font-weight: 500;
  font-size: 15px;
  text-align: justify;
}

.last {
  margin-bottom: 30%;
}

/*CSS for Image slide in*/
.align-left {
  float: left;
  margin-right: 20px;
}

.align-right {
  float: right;
  margin-left: 20px;
}

.slide-in {
  opacity: 0;
  transition: all .5s;
}

.align-left.slide-in {
  transform: translateX(-30%) scale(0.95);
}

.align-right.slide-in {
  transform: translateX(30%) scale(0.95);
}

.slide-in.active {
  opacity: 1;
  transform: translateX(0%) scale(1);
}

/*CSS for images*/
.margins-1 {
  margin-left: 3%;
  margin-bottom: 3%;
/*add image width to be responsive*/
}

/*CSS for carousel*/
.container-general {
/*	padding: 75px 0;*/
	padding-bottom: 85px;
	padding-top: 40px;
	margin: 0 auto;
	/*width: 800px;*/
	padding-left: 5%;
    padding-right: 5%;
}
.container-general .gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50vh;/*change it to 30vh for mobile version*/
}
.container-general .gallery-wrap .item {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: all 0.8s ease;
}
.container-general .gallery-wrap .items {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: all 0.8s ease;
}
.container-general .gallery-wrap .item-1 {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: all 0.8s ease;
}
.container-general .gallery-wrap .item:hover {
  flex: 7;
}
.container-general .gallery-wrap .items:hover {
  flex: 7;
}
.container-general .gallery-wrap .item-1:hover {
  flex: 7;
}
.wrap-effect-3 .item:hover {
  animation: rotate 0.7s ease-in-out both;
  border-radius: 10px;
  border: 1px solid gray;
}
.wrap-effect-3 .items:hover {
  animation: rotate 0.7s ease-in-out both;
  border-radius: 10px;
  border: 1px solid gray;
}
.wrap-effect-3 .item-1:hover {
  animation: rotate 0.7s ease-in-out both;
  border-radius: 10px;
  border: 1px solid gray;
}
.wrap-effect-3 .item:first-of-type {
  background-image: url("../../Control Redesign/images/InsightsBR Insight 1_1.jpg");
}
.wrap-effect-3 .item:nth-of-type(2) {
  background-image: url("../../Control Redesign/images/InsightsBR Insight 1_2.jpg");
}
.wrap-effect-3 .items:first-of-type {
  background-image: url("../../Control Redesign/images/InsightsFirst Iteration Insights_1.jpg");
}
.wrap-effect-3 .items:nth-of-type(2) {
  background-image: url("../../Control Redesign/images/InsightsFirst Iteration Insights_2.jpg");
}
.wrap-effect-3 .item-1:first-of-type {
  background-image: url("../../Control Redesign/images/InsightsSecond Iteration Insights_1.jpg");
}
.wrap-effect-3 .item-1:nth-of-type(2) {
  background-image: url("../../Control Redesign/images/InsightsSecond Iteration Insights_2.jpg");
}
@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(10deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-10deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(5deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

/*CSS for project info card*/
/*.project-info-card{*/
  /*width: 70%;80% for 768 & 992px; 90% for mobile version*/
  /*margin-right: auto;
  margin-left: auto;
  display: block;
  margin-bottom: 15%; /*change to 10% for others*/
/*}*/


