@charset "UTF-8";

@media (max-width:375px) {
	body{
		max-width: 375px;
	}
}

@media (max-width:420px) {
	body{
		max-width: 420px;
	}
}

@media (max-width: 768px) and (min-width:576px) {
	.content-details p {
		font-size: 0.8rem;
	}
}

/*CSS for title logo*/
.logo {
	width: 100%;
	height: 125px;
}

.image-size {
  max-width: 150px;
  margin-left: 20%;
}

/*Start of Hover CSS*/

.container .title {
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  position: relative;
  width: 100%;
/*  max-width: 400px;*/
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
  opacity: 1;
}

.content-image {
  width: 100%;
}

.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: -30px;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    font-family: 'Lato', Calibri, Arial, sans-serif;
}

.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3 {
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

.content-details p {
  color: #fff;
  font-size: 1.2rem;
  font-family: 'Lato', Calibri, Arial, sans-serif;
}

.fadeIn-bottom {
  top: 80%;
}

.fadeIn-top {
  top: 20%;
}

.fadeIn-left {
  left: 20%;
}

.fadeIn-right {
  left: 80%;
}

/*End of Hover CSS*/

/*Start of Footer CSS*/
@media (max-width:420px) {
	footer{
		font-size: 11px;
	}
}

footer {
  background-color: #FAFCFF;
  padding: 20px 0;
  text-align: center;
  margin-top: 15%;
}
/*
.projects-footer{
  margin-bottom: 5%;
  margin-right: 10%;
  margin-left: 10%;
  font-weight: 900;
  text-transform: uppercase;
}
a.project-footer{
  color: #af99df;
  text-decoration: none;
  font-size: 25px;
  text-decoration: none;
}
.project-footer{
  padding-right: 2%;
  padding-left: 2%;

}
a.project-footer:hover{
  color: #007bff;
  text-decoration: none;
}
*/
.contact-info{
  margin-bottom: 5%;
}
.contact-footer{
  padding-right: 2%;
  padding-left: 2%;
}
a.contact-footer{
  color: #c4c4c4;
  text-decoration: none;
}
.copyright{
  margin-bottom: 0px;
  margin-top: 0px;
}
a.link{
  color: #007bff;
  text-decoration: none;
}
a.linkedin:hover{
  color: #0e76a8;
  font-weight: bold;
  text-decoration: none;
}
a.facebook:hover{
  color: #3b5998;
  font-weight: bold;
  text-decoration: none;
}
a.behance:hover{
  color: #053eff;
  font-weight: bold;
  text-decoration: none;
}
a.medium:hover{
  color: #00ab6c;
  font-weight: bold;
  text-decoration: none;
}

/*End of Footer*/

.container {
	margin-bottom: 250px;
}


/*CSS for the typewriter text*/

h4 {
  text-align: center;
  color: #2980b9;
  padding-top:10em;
  font-family: 'Helvetica', 'sans serif';
  font-weight: lighter;
  font-size: 25px;
  padding-top: 0px;
}

.flex-class-2 {
  display: block;
  padding-bottom: 2%;
}

/* CSS for navbar*/
#nav-bar-pills {
  color: #FFFFFF;
  background-color: #B07BAC;
  border-radius: 0.3rem;
  text-align: center;
}


