@charset "UTF-8";

/* CSS Navbar */

#nav-link-color{
  color: #007F2F;
}

#nav-link-color:hover{
  color:#000;
  font-weight: 700;
}

/*CSS for the Header Video*/
body {
  background: white;
  margin: 2rem;
}
header { 
  width: 100%;
  margin: 0 auto;
  position: relative;
  max-width: 1200px;
}
header video { width: 100%; }
svg { 
  width: 100%;
  position:absolute;
  top: 0;
  left: 0; /* needed for FF, Safari, Edge*/
  height: 100%;
}
svg text {
  font-family: 'Lato', sans-serif;
  font-weight: 1000;
  font-size: 35px;
}
svg rect {
  fill: white;
}
svg > rect {
  mask: url(#mask);
}

/*CSS for the Description summary*/
.container-fluid { 
	padding-top: 0px;
	font-family: 'Georgia', serif;
}

.row{
  width: 100%;
  margin: 0;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

blockquote {
  font-size: 27px;/*change to 20px for mobile version; change 22px for 768&992px sizes*/
  color: #493B2A;
	font-weight: 600;
  text-align: center;
  margin-bottom: 10%;
  margin-top: 2%;
  font-family: 'Montserrat';
}

.summary {
	color: #454B66;
	font-size: 20px; /*change to 15px for mobile version; change to 17px for 768&992 sizes*/
	font-weight: 100;
  text-align: center;
  font-family: 'Georgia';
}

.right {
  float: right;
  width: 60%;
}
.left{
  float: left;
  width: 40%;
  padding-right: 10%;
}

strong {
  font-weight: 800;
}

.prototype-link{
  text-decoration: none;
  color: #493B2A;
}

a.prototype-link:hover{
  text-decoration: none;
  color: #1EA500;
}

.column {
  float: left;
  width: 22%;
}

.column-last {
  float: left;
  width: 33%;
}

.spacing{
  margin-bottom: 20%;
}

/*CSS for Nav Bar*/
.portfolio-sorting
{
	text-transform: uppercase;
  font-family: 'Montserrat', 'sans-serif';
  text-align: center;	
	font-size: 18px; /*15px for 768px & 992px; 13px for mobile*/
  margin-bottom: 8%;
  background-color: white;
}

.portfolio-sorting li {
  padding-top: 2%;
}

.portfolio-sorting li a 
{
	color: #8F8F8D;
	text-decoration: none;
	font-weight: bold;
	padding-right: 2px;
}

.portfolio-sorting li a:hover,
.portfolio-sorting li a.active
{
	color: #6A5E50;
	border-bottom: 2px solid #6A5E50;
  font-family: 'Montserrat', 'sans-serif';
	font-weight: bold;
}

#navbar {
  height: 7%;
  left: 0px;
  margin-left: 0px;
}

#navbar a {
  -webkit-transition: .5s all ease-out;
  -moz-transition: .5s all ease-out;
  transition: .5s all ease-out;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

/*CSS for Content*/
.header1 {
	/*text-align: left;*/
  text-transform: uppercase;
  font-family: 'Montserrat', 'sans-serif';
  font-weight: bolder;
  color: #1EA500;
  padding-top: 10%; /*adjust for different screens*/
  font-size: 25px; /*18px for 768px & 992px; 15px for mobile*/
}

.sub-content {
  margin-top: 5%;
  margin-bottom: 0;
  font-family: 'Georgia', 'serif';
  color: #666B81;
  font-weight: 500;
  font-size: 20px;/*17px and 14px*/
  text-align: justify;
}

.last {
  margin-bottom: 30%;
}

.insight{
  font-size: 22px;
  margin-top: 7%;/*5% and 2%*/
  font-weight: 700;
}

.image-size-height{
  max-height: 550px;/*350px*/
  padding-left: 5%;
}

/*.image-size-user-needs{
  max-height: 300px;350px
  padding-right: 5%;
  margin: 0;
}*/

.image-size-storyboard{
  max-height: 550px;/*350px*/
  margin: 0;
  padding-right: 5%;
}

.column-2{
  width: 50%;
  float: left;
}

/*CSS for Image slide in*/
.align-left {
  float: left;
  margin-right: 20px;
}

.align-right {
  float: right;
  margin-left: 20px;
}

.slide-in {
  opacity: 0;
  transition: all .5s;
}

.align-left.slide-in {
  transform: translateX(-30%) scale(0.95);
}

.align-right.slide-in {
  transform: translateX(30%) scale(0.95);
}

.slide-in.active {
  opacity: 1;
  transform: translateX(0%) scale(1);
}

/*CSS for images*/
.margins-1 {
  margin-left: 3%;
  margin-bottom: 1%;
/*add image width to be responsive*/
}

/*CSS for carousel*/
.container-general {
/*	padding: 75px 0;*/
	padding-bottom: 85px;
	padding-top: 40px;
	margin: 0 auto;
	/*width: 800px;*/
	padding-left: 5%;
    padding-right: 5%;
}
.container-general .gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 33vh;/*change it to 12vh for mobile version*/
}
/*CSS for Research Insights*/
.container-general .gallery-wrap .item-1 {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: all 0.8s ease;
}
.container-general .gallery-wrap .item-1:hover {
  flex: 7;
}
.wrap-effect-3 .item-1:hover {
  animation: rotate 0.7s ease-in-out both;
  border-radius: 10px;
  border: 1px solid gray;
}
.wrap-effect-3 .item-1:first-of-type {
  background-image: url("../../trashtalk/images/BR Insight 1.jpg");
}
.wrap-effect-3 .item-1:nth-of-type(2) {
  background-image: url("../../trashtalk/images/BR Insight 2.jpg");
}
.container-general .gallery-wrap .item-2 {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: all 0.8s ease;
}
.container-general .gallery-wrap .item-2:hover {
  flex: 7;
}
.wrap-effect-3 .item-2:hover {
  animation: rotate 0.7s ease-in-out both;
  border-radius: 10px;
  border: 1px solid gray;
}
.wrap-effect-3 .item-2:first-of-type {
  background-image: url("../../trashtalk/images/GR Insight 1.jpg");
}
.wrap-effect-3 .item-2:nth-of-type(2) {
  background-image: url("../../trashtalk/images/GR Insight 2.jpg");
}
/*CSS for Ideation Insights*/
.container-general .gallery-wrap .item-3 {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: all 0.8s ease;
}
.container-general .gallery-wrap .item-3:hover {
  flex: 7;
}
.wrap-effect-3 .item-3:hover {
  animation: rotate 0.7s ease-in-out both;
  border-radius: 10px;
  border: 1px solid gray;
}
.wrap-effect-3 .item-3:first-of-type {
  background-image: url("../../trashtalk/images/CJM+SPJM Insight 1.jpg");
}
.wrap-effect-3 .item-3:nth-of-type(2) {
  background-image: url("../../trashtalk/images/CJM+SPJM Insight 2.jpg");
}
.container-general .gallery-wrap .item-4 {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: all 0.8s ease;
}
.container-general .gallery-wrap .item-4:hover {
  flex: 7;
}
.wrap-effect-3 .item-4:hover {
  animation: rotate 0.7s ease-in-out both;
  border-radius: 10px;
  border: 1px solid gray;
}
.wrap-effect-3 .item-4:first-of-type {
  background-image: url("../../trashtalk/images/Storyboarding Insight 1.jpg");
}
.wrap-effect-3 .item-4:nth-of-type(2) {
  background-image: url("../../trashtalk/images/Storyboarding Insight 2.jpg");
}
@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(10deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-10deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(5deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

/*CSS for footer*/
footer {
  background-color: #FAFCFF;
  padding: 20px 0;
  text-align: center;
  margin-top: 30%;
}
.projects-footer{
  margin-bottom: 5%;
  margin-right: 10%;
  margin-left: 10%;
  font-weight: 900;
  font-family: 'Montserrat', 'sans-serif';
  text-transform: uppercase;
}
a.project-footer{
  color: #C2EFB3;
  text-decoration: none;
  font-size: 25px;
}
.project-footer{
  padding-right: 2%;
  padding-left: 2%;

}
a.active{
  color: #1EA500;
}
a.project-footer:hover{
  color: #1EA500;
}

@media (max-width: 420px) {
	.image-size {
		max-width: 50px;
	}
	blockquote {
		font-size: 15px;
		font-weight: 700;
		margin-bottom: 5%;
	}
	.summary {
		font-size: 15px;
	}
	.left{
	  padding-right: 5%;
	}
	.portfolio-sorting {
		font-size: 8px;
		margin-bottom: 3%;
	}
	.header1 {
		font-size: 15px;
	}
	.sub-content {
		font-size: 12px;
	}
	.insight{
	  font-size: 15px;
	  margin-top: 2%;
	  font-weight: 700;
	}
	.container-general .gallery-wrap {
	  height: 12vh;
	}
	a.project-footer{
		font-size: 12px;
	}
}
